{% extends "base.html" %} {% block content %}
<div class="bg-gray-900 rounded-lg shadow-lg p-8 w-full max-w-md mx-auto mt-10">
  <h1 class="text-white text-4xl mb-6 font-semibold text-center">
    Generate a New Password
  </h1>

  <form method="post" class="space-y-4">
    {% csrf_token %}

    <div class="flex flex-col items-center space-y-2">
      <label for="length" class="text-white text-lg">Password Length:</label>
      <input
        type="number"
        id="length"
        name="length"
        required
        class="p-2 rounded-md w-full max-w-xs"
      />
    </div>

    {% if length_error %}
    <div class="text-red-500 text-center">{{ length_error }}</div>
    {% endif %}

    <div class="flex flex-col items-center space-y-2">
      <label for="upper" class="text-white text-lg"
        >Include Uppercase Letters:</label
      >
      <input type="checkbox" id="upper" name="upper" class="rounded-md" />
    </div>

    <div class="flex flex-col items-center space-y-2">
      <label for="special" class="text-white text-lg"
        >Include Special Characters:</label
      >
      <input type="checkbox" id="special" name="special" class="rounded-md" />
    </div>

    <div class="flex flex-col items-center space-y-2">
      <label for="numbers" class="text-white text-lg">Include Numbers:</label>
      <input type="checkbox" id="numbers" name="numbers" class="rounded-md" />
    </div>

    <div class="flex justify-center">
      <button
        type="submit"
        class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition w-full max-w-xs"
      >
        Generate Password
      </button>
    </div>
  </form>

  {% if generated_password %}
  <div class="mt-6 text-center">
    <h2 class="text-white text-2xl mb-2">Your Generated Password:</h2>
    <div
      class="bg-gray-800 text-white p-4 rounded-md mb-2 flex items-center justify-between"
    >
      <span id="generatedPassword">{{ generated_password }}</span>
    </div>
    {% if message %}
    <div class="text-green-400 mb-2" id="copyMessage" style="display: none">
      {{message}}
    </div>
    {% endif %}
    <div class="mb-4">
      <strong class="text-white">Password Strength:</strong>
      {% if strength == "Weak" %}
      <div id="passwordStrength" class="text-red-500">{{ strength }}</div>
      {% endif %} {% if strength == "Medium" %}
      <div id="passwordStrength" class="text-orange-500">{{ strength }}</div>
      {% endif %} {% if strength == "Strong" %}
      <div id="passwordStrength" class="text-green-500">{{ strength }}</div>
      {% endif %}
    </div>
    <form action="{% url 'copy_password' %}" class="flex justify-center">
      <button
        type="submit"
        class="bg-yellow-600 text-white py-2 px-4 rounded hover:bg-yellow-700 transition w-full max-w-xs mb-4"
      >
        Copy and Exit
      </button>
    </form>

    <form action="{% url 'save_password' %}" class="flex justify-center">
      <button
        type="submit"
        class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700 transition w-full max-w-xs"
      >
        Save This Password
      </button>
    </form>
  </div>
  {% endif %} {% if error %}
  <div class="text-red-500 mt-4 text-center">{{ error }}</div>
  {% endif %}

  <a
    href="{% url 'home' %}"
    class="text-blue-400 hover:underline mt-4 block text-center"
    >Go Back to Home</a
  >
</div>
{% endblock content %}
